<p id="notice"><%= notice %></p>

<p>
  <b>Commenter:</b>
  <%= @comment.commenter %>
</p>

<p>
  <b>Body:</b>
  <%= @comment.body %>
</p>

<p>
  <b>Post:</b>
  <%= @comment.post %>
</p>
<% if comment.user_id == current_user.id %>
    <div class="edit_com">
      <%= link_to "Edit", edit_post_comment_path(@post, comment) %>
    </div>
<%end%>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
