= form_for(@post) do |f|
  - if @post.errors.any?
    #error_explanation
      %h2
        = pluralize(@post.errors.count, 'error')
        prohibited this post from being saved:
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg
  .field
    .labels
      = f.label :title
    .text
      = f.text_field :title
  .field
    .labels
      = f.label :body
    .body
      = f.text_area :body
  .fields_tag
    .labels
      = f.label :Tag
    .text_field
      = f.fields_for :tags, @post.tags.empty? ? @tag : @post.tags do |tag_field|
        = tag_field.text_field :tag_word, :class=>'field_tag'
  .add_tag.btn
    %span
      Add Tag
  .for_img
    %img{:src => '/image1.jpg'}
  .field
    .labels
      = f.label :data
    .date_field
    = f.datetime_select :data
  .actions
    = f.submit
