%h1.to_c.selector List of all posts on this site
.new_post_cr
  = link_to 'New Post', new_post_path, :class=>"btn"
%table.table.table-bordered.table-hover.table-condensed
  %tr
    %th Title
    %th Body
    %th Data
    %th
    %th
    %th
  - @posts.each do |post|
    %tr
      %td= post.title
      %td= post.body
      %td= post.data
      %td.action= link_to 'Show', post, :class=>"icon-eye-open", :title=>"Show"
      %td.action
        - if !defined? current_user
          %s edit
        - elsif post.user == current_user
          = link_to 'Edit', edit_post_path(post), :class=>"icon-edit", :title=>"Edit"
        - else
          %s edit
      %td.action
        - if !defined? current_user
          %s delete
        - elsif post.user == current_user
          .icon-remove.delete_btn
            = link_to post, :method=> :delete, :confirm => "Are you sure?"
        - else
          %s delete
= paginate @posts
