.sidebar-first
  = render :partial => 'mylayouts/sidebar.html'
.main_content
  - if notice
    %p#notice
      = notice
  %h1.to_c.selector List of all posts on this site
  .new_post_cr
    = link_to 'New Post', new_post_path, :class=>"btn"
  - if @posts
    .posts
      - @posts.each do |post|
        - post.body
        .post
          .post_header
            .post_title
              = link_to truncate(post.title, :length => 50), post
            .post_date
              = post.data
          .post_text
            =  truncate(post.body, :length =>255)
          .post_actions
            - if user_signed_in?
              - if post.user == current_user
                %span.edit.actions
                  = link_to 'Edit', edit_post_path(post), :class=>"icon-edit", :title=>"Edit"
            - if user_signed_in?
              - if post.user == current_user
                %span.delete.actions.icon-remove.action-delete
                  = link_to 'Delete', post, :method=> :delete, :confirm => "Are you sure?"
            - if post.status
              .icon-ok
            - else
              .icon-exclamation-sign
          - if user_signed_in?
            -if post.user == current_user && post.explanation
              - unless post.status
                .explanation
                  %span
                    Reason -
                  %span.alert
                    = post.explanation
  = paginate @posts
