.sidebar-first
  = render :partial => 'mylayouts/sidebar'
.main_content
  - if notice
    %p#notice
      = notice
  %h1.to_c.selector List of all posts on this site
  .new_post_cr
    = link_to 'New Post', new_post_path, :class=>"btn"
  - unless @posts.nil?
    .posts
      - @posts.each do |post|
        .post{:class => "#{post.id}"}
          .post_header
            .post_title
              = link_to truncate(post.title, :length => 50), post
            .post_date
              = post.data
          .post_text
            =  truncate(post.body, :length =>255)
          .post_actions
            - if user_signed_in?
              - if post.user == current_user
                %span.edit.actions
                  = link_to 'Edit', edit_post_path(post), :class=>"icon-edit", :title=>"Edit"
                %span.delete.actions.icon-remove.action-delete
                  = link_to 'Delete', post, :method=> :delete, :confirm => "Are you sure?"
            - if post.status
              .icon-ok{:title => "approved"}
            - else
              .icon-exclamation-sign{:title => "not approved"}

  = paginate @posts