<p id="notice"><%= notice %></p>

<div class="post_title">
  <b>Post:</b>
  <span><%= @post.title %></span>
</div>

<div class="post_body">
  <pre><%= @post.body %></pre>
</div>

<div class="post_date">
  <b>Date:</b>
  <span><%= @post.data %></span>
</div>

<h2>Comments</h2>


<% @post.comments.each do |comment| %>
  <div class="comment">
  <p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>
 
  <div class="comment_body">
    <%= comment.body %>
  </div>
      <% if comment.user_id == current_user.id %>
        <div class="edit_com">
            <%= link_to "Edit", edit_post_comment_path(@post, comment), :class=>"btn" %>
        </div>
      <%end%>
  </div>

<% end %>






<h2>Add a comment:</h2>
 <%= render :partial => 'comments/form' %>




<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
