<p id="notice"><%= notice %></p>

<div class="post_title">
  <b>Post:</b>
  <span><%= @post.title %></span>
</div>

<div class="post_body">
  <pre><%= @post.body %></pre>
</div>

<div class="post_date">
  <b>Date:</b>
  <span><%= @post.data %></span>
</div>

<h2>Comments</h2>


<% @post.comments.each do |comment| %>
  <div class="comment">
      <div class="commenter">
        <strong>Commenter:</strong>
        <%= puts comment.id %>
        <%= comment.user.email %>
      </div>
      <div class="comment_body">
        <%= comment.body %>
      </div>

      <% if !defined? current_user  %>
        <div class="u_cant">
          you are not sign in - you are not able to edit comments
        </div>
      <%elsif comment.user == current_user %>
        <div class="edit_com">
          <%= link_to "Edit", edit_post_comment_path(@post, comment), :class=>"btn" %>
        </div>
      <%else%>
        <div class="u_cant">
          you can`t edit this post
        </div>
      <%end%>
  </div>

<% end %>


<h2>Add a comment:</h2>
 <%= render :partial => 'comments/form' %>

<% unless @post.user == current_user %>
    <s>Edit</s>
<% else %>
    <%= link_to 'Edit', edit_post_path(@post) %> |
<%end%>
<%= link_to 'Back', posts_path %>