.sidebar-first
  .tags_list
    %h3 Tags list
    - @tags = Tag.all
    .tags
      %ul
        - @tags.each do |tag|
          %li
            = link_to tag.tag_word, tag_path(tag.id)

  - if user_signed_in?
    .user_posts
      %h3 Your last posts
      - if @posts
        - @user_posts.each do |user_post|
          .post
            .post_title
              = link_to user_post.title, post_path(user_post.id)
            - if user_post.status
              .approved
                approved
            - else
              .unapproved
                unapproved
.main_content
  -if notice
    %p#notice
      = notice
  .post_page
    .post_title
      %b Post:
      %span= @post.title
    .post_body
      %pre= @post.body
    .post_date
      %b Date:
      %span= @post.data
    .tags
      - unless @post.tags.empty?
        - @post.tags.each do |tag|
          |
          = link_to tag.tag_word, tag_path(tag.id)
        |
    %h2 Comments
    - @post.blog_comments.each do |blog_comment|
      .comment
        .commenter
          %strong Commenter:
          = puts blog_comment.id
          = blog_comment.user.email
        .comment_body
          = blog_comment.body
        - if user_signed_in?
          - if blog_comment.user_id == current_user.id
            .edit_com
              = link_to "Edit", edit_post_blog_comment_path(@post, blog_comment), :class=>"btn"
          - else
            .u_cant
              you can`t edit this post

    %h2 Add a comment:
    = render :partial => 'blog_comments/form'
    - unless @post.user == current_user
      %s Edit
    - else
      = link_to 'Edit', edit_post_path(@post)
      |
    = link_to 'Back', posts_path
