%p#notice= notice
%p
  %b Commenter:
  = @blog_comment.commenter
%p
  %b Body:
  = @blog_comment.body
%p
  %b Post:
  = @blog_comment.post
- if blog_comment.user_id == current_user.id
  .edit_com
    = link_to 'Edit', edit_post_blog_comment_path(@post, blog_comment)
= link_to 'Edit', edit_blog_comment_path(@blog_comment)
|
\#{link_to 'Back', blog_comments_path}
