%html
  %head
    %title Blog15min
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    %script{src: '/javascripts/jquery.mousewheel.min.js', type: 'text/javascript'}
    %script{src: '/javascripts/jquery.tagsphere.min.js', type: 'text/javascript'}
    %script{src: '/javascripts/my.js', type: 'text/javascript'}
    = csrf_meta_tags
  %body.body
    .container1
      .wrapper
        .cont
          .cont_inner
            = yield
          .add_space
        .footer
          Copyright © Natisk #{Time.now.strftime("%Y")} год. Все права защищены
      .header
        .header_wrapper
          .logo
            = link_to "blog", root_path, :class=>"btn"
          #user_nav
            - if user_signed_in?
              Loged in #{current_user.email} Not you?
              \#{link_to "Log out", destroy_user_session_path, :class=>"btn", method:  :delete, confirm: "You sure?"}
              = link_to "Edit profile", edit_user_registration_path, class: "btn"
            - else
              = link_to "Register", new_user_registration_path, :class=>"btn"
              or #{link_to "Log in", new_user_session_path, :class=>"btn"}
            = render :partial => 'mylayouts/unapproved_posts'
